/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #444444;
}

.header_container {
  background-color: #fafafa;
}

.header_logo {
  float: left;
  margin-top: 16px;
  margin-bottom: 17px;
}

.header_logo img {

}

.btn {
  border: none;
  background-color: inherit;
  padding: 10px 23px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #12a32d;
}

.header_button {
  float: right;
  width: 146px;
  padding: 8px 21px 12px;
  margin: 17px 44px 17px 51px;
  background-color: #15bd34;
  color: #fff;
  font-weight: 700;
  border-radius: 22px;
}

.navigation {
  float: right;
  width: 312px;
}

.navigation a {
  float: left;
  text-decoration: none;
  color: #444444;
  padding: 5px 0;
  margin: 19px 15px 10px 15px;
  position: relative;
  overflow: hidden;
}

.navigation a:hover {
  color: #15bd34;
}

.navigation a::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #d2d2d2;
  position: absolute;
  bottom: 2px;
}

.navigation ul {
  margin-top: 0;
}

.navigation ul li {
  display: inline;
}

.header_phone {
  float: right;
  font-size: 24px;
  margin-top: 6px;
}

.header_openhours {
  font-size: 16px;
  float: right;
  margin-top: -4px;
}

.main {
  height: 900px;
  position: relative;
  background-color: transparent;
}

.main_container {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.main::before {
   content: " ";
   position: absolute;
   width: inherit;
   height: inherit;
   left: 811px;
   background-image: url("../../img/main_image.jpg");
   background-repeat: no-repeat;
}

.main_heading {
  margin-left: -2px;
  padding-top: 211px;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  color: #555;
}

.main_subheading {
  margin-left: -2px;
  margin-top: 13px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #555;
}

.main_icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 243px;
}

.main_icons_item {
  display: flex;
  width: 244px;
}

.main_icons_item:nth-of-type(3) {
  margin-left: 39px;
  position: relative;
  bottom: 3px;
  left: 10px;
}

.main_icons_item:nth-of-type(1) img {
  position: relative;
  bottom: 4px;
  opacity: 0.8;
}

.main_icons_item:nth-of-type(3) p {
  margin-left: -10px;
}

.main_icons_item p {
  display: flex;
  width: 100px;
}

.main_icons_item img {
  margin-right: 20px;
  position: relative;
  bottom: 7px;
}

.wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.services_container {
  position: relative;
  background-color: #f5f5f5;

  &:before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(0deg, #f5f5f5, #fff);
    width: 100%;
    height: 80px;
    top: -70px;
  }
}

.location_container {
  position: relative;
  background-color: #fff;

  &:before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(0deg, #fff, #f5f5f5);
    width: 100%;
    height: 150px;
  }
}

.services {


  h2 {
    font-size: 48px;
    text-align:center;
    margin-top: 70px;
    margin-bottom: 60px;
  }
}

.services_items {
  display: flex;
  flex-wrap: wrap;
}

.services_item {
  background-color: #fff;
  width: 400px;
  height: 283px;
  // border: 1px solid;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);

  h3 {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
  }

  p {
    padding-left: 52px;
    padding-right: 52px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }

}

.prices_container {
  background-color: #f5f5f5;
}

.prices {
  // width: 1203px;
  // margin: 0 auto;

  h2 {
    font-size: 48px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 50px;
  }
}

.prices_item {
  background-color: #fff;
  margin-top: 40px;
  padding: 20px;
  padding-left: 85px;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
  border-style: solid;
  border-radius: 6px;

  h4 {
    font-size: 18px;
    position: relative;
    &:before {
        content: " ";
        width: 23.625px;
        height: 13.03px;
        background-image: url('../../img/icon_arrow_down.svg');
        position: absolute;
        left: -55px;
        top: 7px;
    }
  }
}

.after {
  position: relative;

}

.after_inner {
  position: absolute;
  color: #b9b9b9;
  width: 100%;
  max-width: 740px;
  overflow: hidden;

}

// .after::after {
//   content: " .................................................................................................................................................................................................. ";
//   position: absolute;
//   color: #b9b9b9;
//   // width: 100%;
//   height: 100%;
//   max-width: 740px;
//   overflow: hidden;
//
// }

.price_right {
  float: right;
  padding-right: 85px;
  padding-left: 3px;
  position: relative;
  background-color: #fff;
  z-index: 2;
}


.location {

  h2 {
    margin-top: 150px;
    font-size: 48px;
    text-align: center;
  }
}

.location_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.wrapper_1400 {
  max-width: 1403px;
  margin: 0 auto;
}

.clinics {
  margin-right: 70px;

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }
}

.seotext {
  background-color: #fff;
}

.seotext_1 {
  width: 1030px;
  margin: 0 auto;
  h3 {
    margin-top: 150px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  p {
    line-height: 24px;
  }
}

.seotext_2 {
  width: 1030px;
  margin: 0 auto;
  h3 {
    margin-top: 110px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  p {
    line-height: 24px;
  }
}


.footer_container {
  background-color: #fff;
  margin-top: 100px;

  footer {
    display: flex;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 479px) {
  .main_heading {
    padding-top: 70px;
    font-size: 36px;
  }

  .main_subheading {
    font-size: 22px;
  }
}

@media only screen and (min-width: 480px) {

}

@media only screen and (max-width: 767px) {
  .header_container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .main_icons {
    margin-top: 100px;
  }

  .main_icons_item:nth-of-type(3) {
    margin-left: 0px;
    position: initial;
  }

  .main_icons_item {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 1239px) {

}

@media only screen and (min-width: 1240px) {
  .wrapper {
    width: 1203px;
    margin: 0 auto;
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
  zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
