/* Указываем box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
ol,
ul {
  padding: 0;
}
/* Убираем внешние отступы */
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ol,
ul {
  list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
button,
input,
select,
textarea {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic'); /* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #444444;
}

.header_container {
  background-color: #fafafa;

  header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
      // margin-right: auto;
    }
  }
}

.header_logo {
  margin-top: 16px;
  margin-bottom: 17px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 10px 23px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #12a32d;
}

.header_button {
  width: 146px;
  height: 44px;
  padding: 8px 21px 12px;
  margin: 17px 42px 17px 11px;
  background-color: #15bd34;
  color: #fff;
  font-weight: 700;
  border-radius: 22px;
}

.navigation {
  margin-top: 24px;
  margin-right: 73px;
}

.navigation {
  ul {
    display: flex;
  }

  li {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 29px;
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: #444444;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
  }
}

.navigation a:hover {
  color: #15bd34;
}

.navigation li::before {
  content: " ";
  width: 100px;
  height: 1px;
  background-color: #d2d2d2;
  position: absolute;
  bottom: 17px;
  right: 0;
}

.navigation ul {
  margin-top: 0;
}

.navigation ul li {
  display: inline;
}

.header_phone {
  font-size: 24px;
  margin-top: 6px;
}

.header_openhours {
  font-size: 16px;
  margin-top: -4px;
  margin-bottom: 10px;
  text-align: right;
}

.main {
  height: 900px;
  position: relative;
  background-color: transparent;
}

.main_container {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.main::before {
  content: " ";
  position: absolute;
  width: inherit;
  height: inherit;
  left: 811px;
  background-image: url("../../img/main_image.jpg");
  background-repeat: no-repeat;
}

.main_heading {
  margin-left: -2px;
  padding-top: 210px;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  color: #555;
}

.main_subheading {
  margin-left: -2px;
  margin-top: 13px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #555;
}

.main_icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 243px;
}

.main_icons_item {
  display: flex;
  width: 244px;
  z-index: 3;
}

.main_icons_item:nth-of-type(3) {
  margin-left: 39px;
  position: relative;
  bottom: 3px;
  left: 10px;
}

.main_icons_item:nth-of-type(1) img {
  position: relative;
  bottom: 4px;
  opacity: 0.8;
}

.main_icons_item:nth-of-type(3) p {
  margin-left: -10px;
}

.main_icons_item p {
  display: flex;
  width: 100px;
}

.main_icons_item img {
  margin-right: 20px;
  position: relative;
  bottom: 7px;
}

.wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.services_container {
  position: relative;
  background-color: #f5f5f5;

  &:before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(0deg, #f5f5f5, #fff);
    width: 100%;
    height: 80px;
    top: -70px;
  }
}

.location_container {
  position: relative;
  background-color: #fff;

  &:before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(0deg, #fff, #f5f5f5);
    width: 100%;
    height: 150px;
  }
}

.services {
  h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 83px;
  }
}

.services_items {
  display: flex;
  flex-wrap: wrap;
}

.services_item {
  background-color: #fff;
  max-width: 400px;
  height: 283px;
  // border: 1px solid;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35);

  h3 {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
  }

  p {
    padding-top: 33px;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }

  &:hover {
    color: #fff;
    background-color: #15bd34;
  }
}

.prices_container {
  background-color: #f5f5f5;
}

.prices {
  h2 {
    font-size: 48px;
    text-align: center;
    padding-top: 107px;
    margin-bottom: 56px;
  }
}

.prices_item {
  background-color: #fff;
  margin-top: 19px;
  // padding: 16px 16px 16px 85px;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
  border-style: solid;
  border-radius: 6px;

  h4 {
    font-size: 18px;
    position: relative;
    padding: 16px 16px 16px 85px;
    z-index: 1;

    &:hover {
      // background-color: #f1f1f1;
      background-image: linear-gradient(0deg, #fff, #eaeaea);
    }
  }
}

.prices_inner {
  margin-bottom: 35px;
  margin-left: 85px;
}

.prices_inner_item {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}
// .after_inner {
//   position: absolute;
//   color: #b9b9b9;
//   width: 100%;
//   max-width: 740px;
//   overflow: hidden;
//
// }

.after::after {
  content: " .................................................................................................................................................................................................. ";
  position: absolute;
  color: #b9b9b9;
  // width: 100%;
  height: 100%;
  max-width: 840px;
  overflow: hidden;
}

.price_right {
  float: right;
  padding-right: 84px;
  padding-left: 3px;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.location {
  h2 {
    margin-top: 134px;
    font-size: 48px;
    text-align: center;
  }
}

.location_content {
  display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  margin-top: 66px;
}

.wrapper_1400 {
  max-width: 1403px;
  margin: 0 auto;
}

.clinics {
  margin-right: 70px;

  h3 {
    margin-top: 7px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.2;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }
}

.clinic_1 {
  margin-left: 96px;

  p {
    margin-top: 18px;
    margin-left: 44px;
  }

  p:nth-of-type(1) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      // width: 48px;
      // height: 48px;
      width: 26px;
      height: 26px;
      left: -44px;
      background-image: url("../../img/icons8-company-48_crop.png");
      background-size: cover;
    }
  }

  p:nth-of-type(2) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      width: 26px;
      height: 26px;
      left: -44px;
      background-image: url("../../img/icons8-ringer-volume-48_crop.png");
      background-size: cover;
    }
  }

  p:nth-of-type(3) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      // width: 48px;
      // height: 48px;
      width: 26px;
      height: 26px;
      left: -41px;
      background-image: url("../../img/icons8-clock_48_crop.png");
      background-size: cover;
    }
  }
}

.clinic_2 {
  margin-left: 96px;
  margin-top: 70px;

  p {
    margin-top: 14px;
    margin-left: 44px;
  }

  p:nth-of-type(1) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      // width: 48px;
      // height: 48px;
      width: 26px;
      height: 26px;
      left: -44px;
      top: 9px;
      background-image: url("../../img/icons8-company-48_crop.png");
      background-size: cover;
    }
  }

  p:nth-of-type(2) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      width: 26px;
      height: 26px;
      left: -44px;
      background-image: url("../../img/icons8-ringer-volume-48_crop.png");
      background-size: cover;
    }
  }

  p:nth-of-type(3) {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      // width: 48px;
      // height: 48px;
      width: 26px;
      height: 26px;
      left: -41px;
      top: 5px;
      background-image: url("../../img/icons8-clock_48_crop.png");
      background-size: cover;
    }
  }
}

.seotext {
  background-color: #fff;
}

.seotext_1 {
  max-width: 1030px;
  margin: 0 auto;

  h3 {
    margin-top: 139px;
    margin-bottom: 18px;
    font-size: 30px;
  }

  p {
    line-height: 24px;
  }
}

.seotext_2 {
  max-width: 1030px;
  margin: 0 auto;

  h3 {
    margin-top: 102px;
    margin-bottom: 19px;
    font-size: 30px;
  }

  p {
    line-height: 24px;
  }
}

.footer_container {
  background-color: #f5f5f5;
  margin-top: 84px;

  footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 50px;

    div {
      width: 257px;
    }
  }
}

.col_1 {
  img {
    margin-bottom: 41px;
  }

  p {
    margin-top: 26px;
    line-height: 1.2;
  }
}

.col_2 {
  margin-bottom: 45px;

  ul {
    margin-top: 0;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    margin-left: 80px;
    text-decoration: none;
    color: #444444;
  }
}

.col_3 {
  margin-bottom: 45px;

  ul {
    margin-left: 44px;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;
    color: #444444;
  }
}

.col_4 {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-wrap: wrap;

  .header_phone p {
    font-size: 30px;
    font-weight: 700;
  }

  .header_openhours {
    text-align: inherit;
  }

  .footer_email {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: inherit;
  }
}

.spoiler input, .spoiler > div {
  display: none; /* Скрываем содержимое */
}

.spoiler label {
  position: relative;
  cursor: pointer;

  &:before {
    content: " ";
    width: 23.625px;
    height: 13.03px;
    background-image: url("../../img/icon_arrow_down.svg");
    position: absolute;
    left: 32px;
    top: 25px;
    z-index: 2;
  }
}

/* Открытый спойлер */
.spoiler :checked + label::before {
  content: " ";
  width: 23.625px;
  height: 13.03px;
  background-image: url("../../img/icon_arrow_up.svg");
  position: absolute;
  left: 32px;
  top: 25px;
}

.spoiler :checked ~ div {
  display: block; /* Показываем спойлер */
  // padding: 10px; /* Поля вокруг текста */
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 479px) {
  .main_heading {
    padding-top: 70px;
    font-size: 30px;
    line-height: 1.5;
  }

  .main_subheading {
    font-size: 22px;
  }

  .col_4 {
    text-align: center;
  }

  .header_openhours {
    text-align: center;
  }

  .services_item {
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 24px;
    }
  }

  .navigation {
    margin-right: 0;

    li:nth-of-type(1) {
      margin-left: 0;
    }
  }

  .prices_item {
    font-size: 14px;
    // padding-left: 16px;

    h4 {
      font-size: 16px;
    }

    h4:before {
      display: none;
      left: 202px;
      top: 8px;
    }

    .after {
      min-width: 186px;
    }
  }

  .prices_inner {
    margin-left: 15px;
    margin-right: 5px;
  }

  .prices_inner_item {
    display: flex;
    justify-content: space-evenly;
    // border: 1px solid #f1f1f1;
    border-bottom: 1px solid #f5f5f5;
  }

  .price_right {
    padding-right: 0;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 480px) {

}

@media only screen and (max-width: 767px) {
  .header_container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main_icons {
    margin-top: 100px;
  }

  .main_icons_item:nth-of-type(3) {
    margin-left: 0;
    position: initial;
  }

  .main_icons_item {
    margin-top: 15px;
  }

  .col_2 {
    display: none !important;
    visibility: hidden;
  }

  .col_3 {
    display: none !important;
    visibility: hidden;
  }

  .footer_container div {
    margin: 10px;
  }

  .after::after {
    content: " ";
  }

  .prices_item {
    h4:before {
      // left: 202px;
      // top: 8px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .header_container {
    header {
      a {
        margin-right: auto;
      }
    }
  }
}
@media only screen and (max-width: 1033px) {
  .header_container {
    a {
      // margin-right: 0;
    }

    header {
      justify-content: center;
    }
  }

  .header_button {
    margin: 17px 26px;
  }

  .main {
    height: 800px;
  }
}
@media only screen and (max-width: 1239px) {
  .wrapper {
    margin: 0 25px;
  }

  .services_items {
    justify-content: center;
  }

  .location_content {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_container footer {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1240px) {
  .wrapper {
    width: 1203px;
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.two_lines {
  h3 {
    padding-top: 54px;
  }

  p {
    padding-top: 27px;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
